# <b><p style="background-color: #ff6200; font-family:calibri; color:white; font-size:100%; font-family:Verdana; text-align:center; border-radius:15px 50px;">Task 38-> Advanced NLP Techniques (NER, Sentiment Analysis)</p>

# What is Natural Language Processing (NLP)?
Natural Language Processing (NLP) is a subfield of artificial intelligence (AI) that focuses on the interaction between computers and humans through natural language. The ultimate objective of NLP is to enable computers to understand, interpret, and generate human language in a way that is both meaningful and useful. This involves several complex processes, including the understanding of context, semantics, sentiment, and intent within the text or speech.

## <span style='color:#ff6200'> Importing Libraries</span>

In [1]:
import pandas as pd
import spacy

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

## <span style='color:#ff6200'> Sample Data</span>

In [2]:
data_ner = {
    'text': [
        'John Doe is planning to visit the Grand Canyon next month.',
        'Alice Johnson works at Microsoft in Seattle.',
        'Yesterday, I met with Dr. Emily Clark at the hospital.',
        'Michael Jordan was a legendary basketball player.',
        'Emma Watson starred in the Harry Potter series.',
        'Barack Obama was the 44th President of the United States.',
        'Elon Musk is the CEO of SpaceX and Tesla.'
    ]
}

df_ner = pd.DataFrame(data_ner)

In [3]:
df_ner.head()

                                                text
0  John Doe is planning to visit the Grand Canyon...
1       Alice Johnson works at Microsoft in Seattle.
2  Yesterday, I met with Dr. Emily Clark at the h...
3  Michael Jordan was a legendary basketball player.
4    Emma Watson starred in the Harry Potter series.

In [4]:
#!pip install spacy
#!python -m spacy download en_core_web_sm

#!pip install pandas spacy
#!pip install vaderSentiment

In [5]:
nlp = spacy.load("en_core_web_sm")

### <span style='color:#ff6200'>Named Entity Recognition (NER)</span>

In [6]:
def perform_ner(text):
    """
    Perform Named Entity Recognition (NER) using SpaCy.

    Args:
    - text (str): Input text for NER.

    Returns:
    - entities (list): A list of named entities detected in the text.
    """
    doc = nlp(text)
    entities = [(entity.text, entity.label_) for entity in doc.ents]
    return entities

In [7]:
df_ner['entities'] = df_ner['text'].apply(perform_ner)

df_ner[['text', 'entities']]

,text,entities
0,John Doe is planning to visit the Grand Canyon...,"[(John Doe, PERSON), (the Grand Canyon, LOC), ..."
1,Alice Johnson works at Microsoft in Seattle.,"[(Alice Johnson, PERSON), (Microsoft, ORG), (S..."
2,"Yesterday, I met with Dr. Emily Clark at the h...","[(Yesterday, DATE), (Emily Clark, PERSON)]"
3,Michael Jordan was a legendary basketball player.,"[(Michael Jordan, PERSON)]"
4,Emma Watson starred in the Harry Potter series.,"[(Emma Watson, PERSON), (Harry Potter, PERSON)]"
5,Barack Obama was the 44th President of the Uni...,"[(Barack Obama, PERSON), (44th, ORDINAL), (the..."
6,Elon Musk is the CEO of SpaceX and Tesla.,"[(Elon Musk, PERSON), (SpaceX, NORP), (Tesla, ..."

### <span style='color:#ff6200'>Sentiment Analysis</span>

In [8]:
data_sa = {
    'text': [
        'I love this product! It is amazing and works perfectly.',
        'This is the worst service I have ever experienced.',
        'The food was great, but the service was very slow.',
        'I am so happy with my new phone; it has excellent features.',
        'I am disappointed with the quality of this item.',
        'Absolutely fantastic! I couldn’t be more satisfied.',
        'The movie was okay, not great, but not terrible either.',
        'I hate the new update, it’s full of bugs and glitches.',
        'The weather today is fantastic, I am feeling so good!',
        'I am not sure if I like this new design.'
    ]
}

df_sa = pd.DataFrame(data_sa)

df_sa.head()

                                                text
0  I love this product! It is amazing and works p...
1  This is the worst service I have ever experien...
2  The food was great, but the service was very s...
3  I am so happy with my new phone; it has excell...
4   I am disappointed with the quality of this item.

In [9]:
analyzer = SentimentIntensityAnalyzer()

In [10]:
def analyze_sentiment(text):
    """
    Perform sentiment analysis using VADER.

    Args:
    - text (str): Input text for sentiment analysis.

    Returns:
    - sentiment (dict): A dictionary of sentiment scores (compound, pos, neu, neg).
    """
    sentiment = analyzer.polarity_scores(text)
    return sentiment

In [12]:
df_sa['sentiment'] = df_sa['text'].apply(analyze_sentiment)

df_sa['sentiment_label'] = df_sa['sentiment'].apply(lambda x: 'Positive' if x['compound'] > 0.05 else ('Negative' if x['compound'] < -0.05 else 'Neutral'))

df_sa[['text', 'sentiment', 'sentiment_label']]

,text,sentiment,sentiment_label
0,I love this product! It is amazing and works p...,"{'neg': 0.0, 'neu': 0.359, 'pos': 0.641, 'comp...",Positive
1,This is the worst service I have ever experien...,"{'neg': 0.339, 'neu': 0.661, 'pos': 0.0, 'comp...",Negative
2,"The food was great, but the service was very s...","{'neg': 0.0, 'neu': 0.779, 'pos': 0.221, 'comp...",Positive
3,I am so happy with my new phone; it has excell...,"{'neg': 0.0, 'neu': 0.542, 'pos': 0.458, 'comp...",Positive
4,I am disappointed with the quality of this item.,"{'neg': 0.279, 'neu': 0.721, 'pos': 0.0, 'comp...",Negative
5,Absolutely fantastic! I couldn’t be more satis...,"{'neg': 0.0, 'neu': 0.407, 'pos': 0.593, 'comp...",Positive
6,"The movie was okay, not great, but not terribl...","{'neg': 0.154, 'neu': 0.503, 'pos': 0.343, 'co...",Positive
7,"I hate the new update, it’s full of bugs and g...","{'neg': 0.27, 'neu': 0.73, 'pos': 0.0, 'compou...",Negative
8,"The weather today is fantastic, I am feeling s...","{'neg': 0.0, 'neu': 0.434, 'pos': 0.566, 'comp...",Positive
9,I am not sure if I like this new design.,"{'neg': 0.157, 'neu': 0.642, 'pos': 0.201, 'co...",Positive